/* Local fonts */
@import url('fonts.css');

/* Tailwind */
@import 'tailwindcss';
@tailwind utilities;

@theme {
  /* Unchanging */
  --color-strawberry: #f38ba3;
  --color-vanilla: #f9f4da;
  --color-lime: #0ba95b;
  --color-berry: #7b5ea7;
  --color-lemon: #fcba28;
  --color-water: #12b5e5;
  --color-watermelon: #ed203d;
  --color-flame: #fc7428;
  /* Light and dark */
  --color-prmary-light: #efefef;
  --color-secondary-light: #ffffff;
  --color-prmary-dark: #0f0d0e;
  --color-secondary-dark: #231f20;
  /* Fonts */
  --font-family-BebasNeueRegular: BebasNeueRegular, sans-serif;
  --font-family-CubanoRegular: CubanoRegular, sans-serif;
  --font-family-OutfitBold: OutfitBold, sans-serif;
  --font-family-OutfitLight: OutfitLight, sans-serif;
  --font-family-OutfitRegular: OutfitRegular, sans-serif;
  /* Font sizes */
  --font-size-100: 100px;
  --font-size-150: 150px;
  --font-size-200: 200px;
  --font-size-250: 250px;
  --font-size-300: 300px;
}

:root {
  /* Theme setup */
  background-color: var(--color-prmary-dark);
  color: var(--color-prmary-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* Default styles */
html,
body,
#root {
  height: 100%;
}

p {
  letter-spacing: 0.3px;
}

a {
  color: var(--color-spotBlue);
  text-decoration: none;
}

a:hover,
a.active {
  color: var(--color-text);
}

a.active:hover {
  cursor: default;
}

ul,
li {
  color: var(--color-text);
  text-decoration: none;
}
