name: Prepare release
run-name: Prepare release | ${{ github.run_id }} | branch - ${{ github.ref_name }}

on:
  create:
    branches:
      - "release/*"

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    if: (startsWith(github.ref_name, 'release/major') || startsWith(github.ref_name, 'release/minor') || startsWith(github.ref_name, 'release/patch'))

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm

      - name: Git config
        run: |
          git config --global user.email "${{ secrets.GH_ADMIN_EMAIL }}"
          git config --global user.name "${{ secrets.GH_ADMIN_USERNAME }}"

      - name: Apply version bump (major)
        if: startsWith(github.ref_name, 'release/major')
        run: npm version major

      - name: Apply version bump (minor)
        if: startsWith(github.ref_name, 'release/minor')
        run: npm version minor

      - name: Apply version bump (patch)
        if: startsWith(github.ref_name, 'release/patch')
        run: npm version patch

      - name: Git push version bump
        run: git push
